.gsk-slider {
    overflow: hidden !important;
}

.gsk-slider *,
.gsk-slider *::before,
.gsk-slider *::after {
    box-sizing: border-box !important;
}

.gsk-slider__list {
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-start !important;

    transition: transform 0.3s;
}

.gsk-slider__item {
    display: flex !important;

    flex-shrink: 0 !important;
    flex-basis: 25% !important;
    max-width: none !important;
    margin: 0 !important;
}
